body {
    background-color: #343a40;
}

.page-header {
    margin: 10px 0px 10px 0px;
    padding: 0px;
    border: none;
}

h1 {
    font-size: 24px;
    color: whitesmoke;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
}

.panel-body {
    min-height: 15vw;
    padding: 10px;

}

.panel-temperature .panel-body {
    background-color: #e6ffff;
}

.panel-weather .panel-body {
    background-color: #fff3e6;
}

.panel-temperature .panel-heading {
    background-color: #00ced1; /* dark turquoise */
}

.panel-weather .panel-heading {
    background-color: #ff9e38; /* orange */
}

.panel-weather div.weather-forecast {
    padding: 0;
}

.panel-weather div.weather-forecast p.weather-phrase {
    font-size: 2vw;
    padding-left: 5px;
}

.panel-weather div.weather-forecast p.weather-temperature {
    font-size: 2vw;
}

.panel-temperature p {
    font-size: 2.5em;
    font-size: 5vw;
    margin-top: 10px;
    text-align: center;
}

.panel-temperature div.two-readings p.text-temperature {
    text-align: right;
}

.panel-temperature p.text-temperature::after {
    content: '\00A0\00B0\0043'; /* Non-breaking space, degree sign, C*/
    font-size: 3vw;
    vertical-align: text-top;
}

.panel-temperature p.text-humidity::after {
    content: '\00A0\0025'; /* Non-breaking space, percentage*/
    font-size: 2vw;
    vertical-align: text-top;
}

.panel-weather p span.temperature-units {
    font-size: 1.3vw;
    vertical-align: text-top;
}

.panel-heading h3.panel-title {
    font-size: 2.2vw;
}

.panel-title span.glyphicon {
    font-size: 2.5vw;
}

.panel-body span.glyphicon {
    font-size: 2vw;
    margin-top: 5px;
}

.panel-body.two-readings .row.humidity p {
    font-size: 3vw;
}

.retained {
    min-height: 14px;
}

.weather-icon {
    min-height: 5em;
    padding-top: 10px;
}