{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static',filename='css/main.css') }}">
<link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %}Tamar Weather Station{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}