{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static',filename='js/mqtt.js') }}"></script>
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static',filename='js/weather.js') }}"></script>
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1 class="text-center">Tamar Weather Station</h1>
</div>

<div class="row"> <!-- first row -->

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-heart pull-right"></span>
                    {{ name|title }}'s Bedroom
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p class="text-temperature" id="house-thermometers-top_bedroom">--.-</p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-top_bedroom-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-flag pull-right"></span>
                    Outside
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p class="text-temperature" id="house-thermometers-outside">--.-</p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-outside-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4" id="weather">
        <!-- weather inserted here by ajax -->
    </div>

</div> <!-- end of first row -->

<div class="row"> <!-- second row -->

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                    Master Bedroom
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p class="text-temperature" id="house-thermometers-master_bedroom">--.-</p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-master_bedroom-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-lamp pull-right"></span>
                    Living Room
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row temperature">
                        <p class="text-temperature" id="house-thermometers-living_room">--.-</p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-living_room-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-wrench pull-right"></span>
                    Garage
                </h3>
            </div>
            <div class="panel-body two-readings">
                <div class="col-xs-8">
                    <div class="row temperature">
                        <p class="text-temperature"id="house-thermometers-garage">--.-</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row humidity">
                        <p class="text-humidity" id="house-thermometers-garage-humidity">--</p>
                    </div>
                </div>
                <div class="col-xs-12">
                <div class="row retained" id="house-thermometers-garage-retained">
                    <span class="glyphicon glyphicon-time pull-right"></span>
                </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- end of second row -->
{% endblock %}

