{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static',filename='js/mqtt.js') }}"></script>
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1 class="text-center">Tamar Weather Station</h1>
</div>

<div class="row"> <!-- first row -->

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-heart pull-right"></span>
                    {{ name|title }}'s Bedroom
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p id="house-thermometers-top_bedroom">23.3 °C</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-flag pull-right"></span>
                    Outside
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p  id="house-thermometers-outside">5.8 °C</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default panel-weather">
            <div class="panel-heading">
                <h3 class="panel-title">Current Weather in {{ location|title }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p>The local date and time is {{
                            moment(current_time).format('LLL') }}.</p>
                        <p>That was {{
                            moment(current_time).fromNow(refresh=True) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- first row -->

<div class="row"> <!-- second row -->

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                    Main Bedroom
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p id="house-thermometers-main_bedroom">22.1 °C</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-lamp pull-right"></span>
                    Living Room
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p id="house-thermometers-living_room">21.0 °C</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default panel-weather">
            <div class="panel-heading">
                <h3 class="panel-title">Tomorrow's Weather in {{ location|title }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p>The local date and time is {{
                            moment(current_time).format('LLL') }}.</p>
                        <p>That was {{
                            moment(current_time).fromNow(refresh=True) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- end of second row -->
{% endblock %}

