{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8"
        src="{{ url_for('static',filename='js/mqtt.js') }}"></script>
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1 class="text-center">Tamar Weather Station</h1>
</div>

<div class="row"> <!-- first row -->

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-heart pull-right"></span>
                    {{ name|title }}'s Bedroom
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p class="text-center temperature-text"
                           id="house-thermometers-top_bedroom">--.-
                            <span class="temperature-units"> °C</span>
                        </p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-top_bedroom-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-flag pull-right"></span>
                    Outside
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p class="text-center" id="house-thermometers-outside">
                            --.-
                            <span class="temperature-units"> °C</span>
                        </p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-outside-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default panel-weather">
            <div class="panel-heading">
                <h3 class="panel-title">Weather in {{ location|title }} {{ 'Today' if current_conditions.is_day else 'Tonight' }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-5">
                    <div class="row">
                        <img class="weather-icon"
                             src="/static/weather_icons/{{ current_conditions.icon }}.svg">
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="col-xs-12 weather-forecast">
                        <div class="row">
                            <p class="weather-phrase">{{ forecast.day_phrase if current_conditions.is_day else forecast.night_phrase }}</p>
                        </div>
                    </div>

                    {% if current_conditions.is_day %}
                        <div class="row">
                            <div class="col-xs-6 weather-forecast">
                                <p class="weather-temperature">&#11014; {{ forecast.high_temp }}
                                    <!--<span class="temperature-units">°C</span>-->
                                </p>
                            </div>
                            <div class="col-xs-6 weather-forecast">
                                <p class="weather-temperature">&#9730; {{ forecast.day_rain_percent }}
                                    <span class="temperature-units">%</span>
                                </p>
                            </div>
                        </div>

                    {% else %}
                        <div class="row">
                            <div class="col-xs-6 weather-forecast">
                                <p class="weather-temperature">&#11015; {{ forecast.low_temp }}
                                    <!--<span class="temperature-units">°C</span>-->
                                </p>
                            </div>
                            <div class="col-xs-6 weather-forecast">
                                <p class="weather-temperature">&#9730; {{ forecast.night_rain_percent }}
                                    <span class="temperature-units">%</span>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div> <!-- end of first row -->

<div class="row"> <!-- second row -->

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                    Master Bedroom
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <p class="text-center"
                           id="house-thermometers-master_bedroom">--.-
                            <span class="temperature-units"> °C</span>
                        </p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-master_bedroom-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-lamp pull-right"></span>
                    Living Room
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row temperature">
                        <p class="text-center"
                           id="house-thermometers-living_room">--.-
                            <span class="temperature-units"> °C</span>
                        </p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-living_room-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default panel-temperature">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-wrench pull-right"></span>
                    Garage
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row temperature">
                        <p class="text-center"
                           id="house-thermometers-garage">--.-
                            <span class="temperature-units"> °C</span>
                        </p>
                    </div>
                    <div class="row retained"
                         id="house-thermometers-garage-retained">
                        <span class="glyphicon glyphicon-time pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- end of second row -->
{% endblock %}

